<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sandwich.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sandwich.description %>
</p>

<p>
  <b>Image:</b>
  <%= @sandwich.image %>
</p>


<%= link_to 'Edit', edit_sandwich_path(@sandwich) %> |
<%= link_to 'Back', sandwiches_path %>
