<%= simple_form_for [@sandwich, @order] do |f| %>

  <%= f.error_notification %>


  <div>
  	<img src="<%= @sandwich.image %>" alt="<%= @sandwich.name %>">
  </div>

  <div class="form-inputs">
    
    <div class="alert alert-error" style="display:none;margin: -10px 0 5px 0;">
    </div>

    <%= f.input :client_name, label: "Your Name" %>
    <%= f.input :variation, as: :text,  label: "Variations", :input_html => { rows: 2}  %>
  </div>


    <%#= f.button :submit %>

<% end %>
