<p id="notice"><%= notice %></p>


<%
#Rails.logger.info("order = #{@order.inspect}")
#Rails.logger.info("sandwich = #{@sandwich.inspect}")
%>

		<div class="sandwiches" id="sandwiches">
		  <div id="container" class="clearfix">
			  <div class="box photo col3 front">
			  	
			  	<div class="order-info">
				 		<p>Ordered by:
						  <%= @order.client_name %>
						</p>

						<p>Variation:
						  <%= @order.variation %>
						</p>
					</div>

			    <div>
			      <img class="pin-image" src="<%= @sandwich.image %>" alt="<%= @sandwich.name %>">
			    </div>    

			    <div class="pin-title">
			      <%= @sandwich.name %>
			    </div>
			    
			    <p><%= @sandwich.description %></p>
			      

			  </div> 
			</div>
		</div>






<%#= link_to 'Edit', edit_order_path(@order) %> |
<%#= link_to 'Back', orders_path %>
